/*------------------------------------- PARAMETRES GLOBAUX --------------------------------*/

@font-face {
	font-family:'Adelle-Sans';
	src:url("../police/adelle-sans.ttf");
}

body{
	font-family: 'Adelle-Sans', Arial;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

#container{
	display: flex;
	flex-wrap: wrap;
}

/*------------------------------------------ HEADER -----------------------------------------*/

ul{
	padding : 0px; /* Réinisitalisation des padding et margin des listes obligé */
	margin: 0px;
}

header{
	position: fixed;
	background-color: #E9EDF2;
	display: flex;
	width: 100%;
	height: 107px;
	justify-content: space-between;
	flex-direction: column;
	z-index: 999;
}

#headerGauche{
	align-self: flex-start;
	margin-top: 20px;
	margin-left: 20px;
}

#headerDroit{

	font-size: 1.1em;
	align-self: flex-end;
	font-weight: bolder;
	margin-right: 10px;
	margin-bottom: 10px;
}



/*-------------------------------------CORPS DE PAGE -------------------------------*/

#corpsDePage{
	display: flex;
	flex-wrap: wrap;
}

#corpsDePage1{
	background-color: #E9EDF2;
	width: 100%;
	margin-top: 107px;
	text-align: center;
	font-size: 1.875em;
}

#corpsDePage2_1 img{
	border: 1px black solid;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

button{
	font-size: 0.2em;
}