/*------------------------------------- PARAMETRES GLOBAUX --------------------------------*/

@font-face {
	font-family:'Adelle-Sans';
	src:url("../police/adelle-sans.ttf");
}

body{
	font-family: 'Adelle-Sans', Arial;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

#container{
	display: flex;
	flex-wrap: wrap;
}

/*------------------------------------------ HEADER -----------------------------------------*/

ul{
	padding : 0px; /* Réinisitalisation des padding et margin des listes obligé */
	margin: 0px;
}

header{
	position: fixed;
	background-color: #E9EDF2;
	display: flex;
	width: 100%;
	height: 107px;
	justify-content: space-between;
	flex-direction: column;
	z-index: 999;
}

#headerGauche{
	align-self: flex-start;
	margin-top: 20px;
	margin-left: 20px;
}

#headerDroit{

	font-size: 1.1em;
	align-self: flex-end;
	font-weight: bolder;
	margin-right: 10px;
	margin-bottom: 10px;
}



/*-------------------------------------CORPS DE PAGE -------------------------------*/

#corpsDePage{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

#corpsDePage1{
	background-color: #E9EDF2;
	width: 100%;
	margin-top: 107px;
	text-align: center;
	font-size: 1.875em;
}

#corpsDePage2{
	display: flex;
	flex-wrap: wrap;
}

	#corpsDePage2_1 {
	width: 100%;
}

#corpsDePage2_2 {
	width: 100%;
}

#corpsDePage2_3 {
	width: 100%;
}

#corpsDePage2_4 {
	width: 100%;
}


#corpsDePage2_1 img{
	border: 1px black solid;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

#corpsDePage2_2 img{
	border: 1px black solid;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

#corpsDePage2_3 img{
	border: 1px black solid;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

#corpsDePage2_4 img{
	border: 1px black solid;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}


#corpsDePage3{
	font-size: 1.3125em;
	text-align: center;
	padding: 10px;
	background-color: #E9EDF2;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#corpsDePage3 img{
	width: 100%;
}

button{
	background-color: #3093F7;
	border: solid black 1px;
	border-radius: 10px;
	padding: 20px;
	font-size: 1em;
	color: white;
}

#credit{
	font-size: 0.7em;
	width: 100%;
}

@media screen and (min-width: 304px) {
	header{
		flex-direction: row;
		height: 75px;
	}



	#headerDroit{
		align-self: center;
	}

	#corpsDePage1{
		margin-top: 75px;
	}

		#corpsDePage2_1 {
		width: 50%;
	}

	#corpsDePage2_2 {
		width: 50%;
	}
	
	#corpsDePage2_3 {
		width: 50%;
	}

	#corpsDePage2_4 {
		width: 50%;
	}	


}

@media screen and (min-width: 700px) {
	#corpsDePage1{
		margin-top: 75px;
	}

		#corpsDePage2_1 {
		width: 25%;
	}

	#corpsDePage2_2 {
		width: 25%;
	}
	
	#corpsDePage2_3 {
		width: 25%;
	}

	#corpsDePage2_4 {
		width: 25%;
	}	


}